<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <style>
            h1 {
              text-align: center;
            }
        </style>
        <title>
            Trying MNIST models
        </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    </head>

    <body>
        <h1>
            Classifying digits using different models
        </h1>

        <form method="POST" action="/dropdown">
            <select name="Models">
            <option value="{{current_model}}" selected>{{current_model}}</option>
            {% for model in models %}
                <option value="{{model}}">{{model}}</option>
            {% endfor %}

            </select>
            <input type="submit" value ="Submit">
        </form>

        <img src="{{url_for('static', filename=image_path)}}" alt="Upload an image of a digit" width="500" height="auto" class="centerImage" />
        
        <form method="post" enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.file_upload()}}
            {{form.submit()}}
        </form>
    </body>
</html>